<!DOCTYPE HTML>
<html>
<head>
    <title>Example</title>
    <meta name="author" content="Rafael" />
    <meta name="desciption" content="A simple description" />
</head>

<body>
    <form name="fruitvote" method="post" action="http://localhost:3000/headers"> <!--target="_blank" -->
        <p><label for="faveid">Fruit: <input autofocus id="faveid" name="fave" autocomplete="off" /></label></p>
        <p><label for="nameid">Name: <input disabled id="nameid" name="name" /></label></p>
        <button>Submit Vote</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>
